<!doctype html>
{% load static%}
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion Etudiant</title>
    <link rel="stylesheet" href="{% static 'Etudiant/css/bootstrap.css' %}">
  </head>


  <body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Fonction CRUD basée sur la gestion d'Etudiant</h2>
        {% block content%} {% endblock content%}
    </div>
    <script src="{% static 'Etudiant/js/jquery.js'%}"></script>
    <script src="{% static 'Etudiant/js/bootstrap.js'%}"></script>
    <script src="{% static 'Etudiant/js/popper.js'%}"></script>
  </body>
</html>